---
layout: default
header: 
  title: Ayurvedic Internship Retreat in Ubud, Bali
  subtitle: Hands-On Training for Ayurvedic Health Counselor and Practitioner Students
  button: 
    text: Join the waitlist
    url: #
brief-overview: 
  featured-text: The program provides a hands-on and immersive Ayurvedic experience, focusing on client-to-client interaction and thorough diagnostics.
  heading: Internship Retreat
  description_html: The program provides a hands-on and immersive Ayurvedic experience, focusing on client-to-client interaction and thorough diagnostics. Participants delve into the intricacies of Ayurveda, gaining insights into system-wise examinations and herbal applications. Tailored for aspiring Ayurvedic Health Counselors and Practitioners, this preceptorship blends theoretical knowledge and practical skills for a transformative journey in Ayurvedic healthcare.
features:
 - image_url: /images/ayurvedic-internship-5.jpg
   feature: In-Person Ayurvedic Training
   description_html: Embrace the unique opportunity to fulfill essential in-person training hours in our comprehensive internship retreat.
 - image_url: /images/ayurvedic-internship-8.jpg
   feature: Client Encounter Experience in Ayurveda
   description_html: Achieve proficiency through extensive client interactions, adhering to the standards set by the Ayurvedic Accreditation Commission.
 - image_url: /images/ayurvedic-internship-7.jpg
   feature: Mastering Ayurvedic Clinical Skills
   description_html: This internship focuses on refining your clinical assessment skills, offering in-depth exploration of Ayurvedic diagnostic techniques.
teacher: 
  heading: Your Teacher
  description_html: Led by an esteemed Ayurvedic doctor with extensive years of practice and teaching, this internship offers unparalleled expertise in Ayurvedic medicine. The lead teacher embodies a wealth of knowledge and a passion for guiding students on their Ayurvedic journey.
  image: 
    image_url: /images/ayurvedic-internship-8.jpg
    image_focus: 
retreat-overview:
  heading: 
  description-left_html: 
  description-right_html: 
features-banner: 
 - background-image: 
   feature: 
 - background-image: 
   feature: 
 - background-image: 
   feature: 
location: 
  heading: 
  description_html: 
room-and-board: 
  heading: 
  description_html: 
tuition: 
  includes: 
    heading: 
    description_html: 
  image_url: 
  pricing: 
    pay-in-full: 
      heading: 
      price: 
    payment-plan: 
      heading: 
      price: 
faq: 
  heading: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
   - question: 
     answer_html: 
cta: 
  heading: 
  description_html: 
  button: 
    text: 
    url: 
seo:
  title: This should appear in the browser tab
  description:
  keywords:
  social_image:
  hide-from-google: true
---
<!-- Hero Banner -->
<section>
  <h1>{{page.header.title}}</h1>
  <h2>{{page.header.subtitle}}</h2>
  <a href="{{page.header.button.url}}">{{page.header.button.text}}</a>
</section>

<!-- Brief overview -->
<section class="grid grid-cols-2">
  <div>
    <p class="font-feature"><em>{{page.brief-overview.featured-text}}</em></p>
  </div>
  <div>
    <h2>{{page.brief-overview.heading}}</h2>
    <p>{{page.brief-overview.description_html}}</p>
  </div>
</section>

<!-- Features -->
<section class="p-10p grid grid-cols-3 gap-8">
  {% for item in page.features %}
  <div>
    <div class="bg-imgage-style min-h-[60vh] border border-medium" style="background-image: url('{{item.image_url}}');"></div>
    <h3>{{item.feature}}</h3>
    <p>{{item.description_html}}</p>
  </div>
  {% endfor %}
</section>

<!-- Your Teacher -->
<section class="grid grid-cols-2 gap-8 p-10p">
  <div>
    <h2>{{page.teacher.heading}}</h2>
    <p>{{page.teacher.description_html}}</p>
    <a class="button">Learn more</a>
  </div>
  <div class="bg-image-style" style="background-image: url('{{page.teacher.image.image_url}}'); background-position: {{page.teacher.image.image_focus}};"></div>
</section>

<!-- Retreat Overview -->
<section class="p-10p text-light">
  <h2>Internship Retreat Overview</h2>
  <div class="grid grid-cols-2 divide-x">
    <div>
      <p class="p-5p"></p>
    </div>
    <div class="p-5p">
    </div>
</section>

<!-- Features Banner -->
<section class="grid grid-cols-3 gap-16">
  <div class="bg-image-style" style="background-image: url('#');">
    <span>180 in-person hours</span>
  </div>
  <div class="bg-image-style" style="background-image: url('#');">
    <span>54 supervised client encounters</span>
  </div>
  <div class="bg-image-style" style="background-image: url('#');">
    <span>Hands-on clinical experience</span>
  </div>
</section>

<!-- Room & Board -->
<section class="grid grid-cols-2 gap-8">
  <!-- Row 1 -->
  <div class="bg-image-style" style="background-image: url('#');"></div>
  <div class="bg-dark">
    <h2>Ubud, Bali</h2>
    <p>Lorem ipsum text</p>
  </div>
  <!-- Row 2 -->
  <div class="bg-medium">
    <h2>Room & Board</h2>
    <p>Lorem ipsum text</p>
  </div>
  <div class="bg-image-style" style="background-image: url('#');"></div>
</section>

<!-- Tuition -->
<section class="grid grid-cols-3 gap-16 p-10p">
  <div>
    <h2>Includes</h2>
    <p>Lorem ipsum text</p>
  </div>
  <div class="bg-image-style" style="background-image: url('#');"></div>
  <div>
    <h2>Tuition</h2>
    <h3>Pay in Full (save 15%)</h3>
    <span>$3,300 USD</span>
    <h3>Payment plan</h3>
    <span>$1,100 USD X 3 Months</span>
  </div>
</section>

<!-- FAQ -->
<section>
  <h2>Frequently Asked Questions</h2>
  <ul class="list-none">
    {% for item in site.data.faq-settings.faq %}
    <li x-data="{ open: false }" class="border-b border-dark my-8">
        <button @click="open = ! open" class="flex justify-between w-full">
            <h3 class="text-left mb-8 mr-8">{{item.question}}</h3>

            <span x-show="!open">→</span>
            <span x-show="open">&nbsp;&nbsp;↓</span>
        </button>
        <div x-show="open" @click.outside="open = false">
            <p class="mb-8 mr-8 italic">{{item.answer_html}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
</section>

<!-- CTA -->
<section class="grid grid-cols-4 gap-8 bg-dark border-b border-light text-light">
  <div class="col-span-3">
    <h2>Empowering long text heading goes here</h2>
    <p>Lorem Ipsum</p>
  </div>
  <a class="button">Join the waitlist</a>
</section>