/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {
  
  body {
    @apply bg-light font-sans
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5, h6, p:last-child {
    margin-bottom: 0;
  }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
  /* Typography Classes */
  .subtitle {
    font-size: 1.55rem;
    margin-bottom: 0.5em;
    font-weight: 300;
  }

  .text-serif-lg {
    @apply font-serif text-[3rem] leading-[1em] mb-[0.5em]
  }

  /* Button Classes */
  .button {
    @apply text-center py-2 px-4 bg-light/20 border border-light font-serif capitalize tracking-wider inline-block
  }

  /* Image Classes */
  .bg-image-style {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Position Classes */
  .hero-banner {
    @apply flex justify-center align-middle items-center
  }
}