/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {
  /* temporary styles */
  p, h1, h2, h3, h4, h5, h6, div, section {
    border: 1px solid grey;
  }

  p {
    font-family: 'hind', 'sans-serif';
    margin-bottom: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
    .bg-imgage-style {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgb(94,103,79, 0.3);
    }
}