<section class="grid md:grid-cols-4 gap-4 md:gap-16 bg-dark-style py-5p px-10p border-b border-light text-light">
    <div class="col-span-3">
        <h2 class="text-serif-md">{{page.cta.heading}}</h2>
        <p>{{page.cta.description_html}}</p>
        <a data-formkit-toggle="1fec54076b" href="https://embodied-creative.ck.page/1fec54076b" class="button md:hidden" href="{{page.cta.button.url}}">{{page.cta.button.text}}</a>
    </div>
    <div class="hidden md:block">
        <a data-formkit-toggle="1fec54076b" href="https://embodied-creative.ck.page/1fec54076b"
            class="button">{{page.cta.button.text}}</a>
    </div>
</section>