<section class="bg-medium-style p-10p">
    <h2 class="text-serif-lg text-center">Frequently Asked Questions</h2>
    <ul class="dropdown-menu ml-0">
        {% for item in page.faq %}
        <li x-data="{ open: false }" class="dropdown-item {% if forloop.last %}last-item{% endif %}">
            <button @click="open = ! open" class="flex justify-between w-full">
                <h3 class="mr-8 text-left">{{item.question}}</h3>
                <span x-show="!open">+</span>
                <span x-show="open">-</span>
            </button>
            <div x-show="open" @click.outside="open = false">
                {% assign paragraphs = item.answer_html | split: '<p>' %}
                    {% for paragraph in paragraphs %}
                    {% if paragraph != '' %}
                <p class="mr-8 mt-4 italic {% if forloop.last %} last-paragraph {% endif %}">{{ paragraph | safe
                    }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>