<form name="waitlist" method="post" data-netlify="true" action="/wait-list-thank-you.html" onSubmit="submit">
    <div class="grid sm:grid-cols-2 gap-8 mb-4">
        <div>
            <input type="text" id="first-name" name="first-name">
            <label for="first-name" class="form-text">First Name</label>
        </div>

        <div>
            <input type="text" id="last-name" name="last-name">
            <label for="last-name" class="form-text">Last Name</label>
        </div>
    </div>

    <div class="mb-4">
        <input type="email" id="email" name="email">
        <label for="email" class="form-text">Email</label>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="button-dark mt-4 mb-12 sm:mb-0 text-medium uppercase">Join the waitlist</button>
    </div>
</form>