<section class="bg-image-style text-light hero-banner p-5p"
    style="background-image: url('images/ayurvedic-internship-11.jpg');">
    <div class="mobile-button">
        <span class="mobile-top"></span>
        <span class="mobile-middle"></span>
        <span class="mobile-bottom"></span>
    </div>

    <nav class="mobile-menu">
        <a href="/index.html">Home</a>
        <a href="/wait-list.html">Join The Waitlist</a>
        <a href="/contact.html">Contact</a>
    </nav>
    <div>
        <h1 class="text-serif-lg">{{page.header.title}}</h1>
        <h2 class="subtitle">{{page.header.subtitle}}</h2>
        <a href="{{page.header.button.url}}" class="button mt-4">{{page.header.button.text}}</a>
    </div>
</section>