<section class="bg-image-style text-light hero-banner p-5p"
    style="background-image: url('images/ayurvedic-internship-11.jpg');">
    <nav class="absolute top-0 right-0">
        <a href="/contact.html" class="text-dark lg:text-light">Contact</a>
    </nav>
    <div>
        <h1 class="text-serif-lg">{{page.header.title}}</h1>
        <h2 class="subtitle">{{page.header.subtitle}}</h2>
        <a data-formkit-toggle="1fec54076b" href="https://embodied-creative.ck.page/1fec54076b"
            class="button mt-4 join-waitlist">Join the waitlist</a>
    </div>
</section>