<section class="grid md:grid-cols-3 gap-4 md:gap-16 p-10p">
    <div>
        <h2 class="text-serif-lg">{{page.tuition.includes.heading}}</h2>
        <p>{{page.tuition.includes.description_html}}</p>
    </div>
    <div class="bg-icon min-h-[20vh] order-last md:order-none"
        style="background-image: url('{{page.tuition.featured_image}}');"></div>
    <div>
        <div>
            <h2 class="text-serif-lg">{{page.tuition.pricing.heading}}</h2>
            <h3 class="subheading">{{page.tuition.pricing.pay-in-full.heading}}</h3>
            <span>{{page.tuition.pricing.pay-in-full.price}}</span>
            <h3 class="subheading mt-8">{{page.tuition.pricing.payment-plan.heading}}</h3>
            <span>{{page.tuition.pricing.payment-plan.price}}</span>
        </div>
    </div>
</section>