<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    {{content}}

    {% include footer.html %}


    <!-- Cookie Concent -->
    {% include cookie-banner.html %}

    <!-- Popup -->
    <!-- <script async data-uid="1fec54076b" src="https://embodied-creative.ck.page/1fec54076b/index.js"></script> -->

    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JS -->
    <script src="/main.js"></script>

</body>

</html>